/* NumberPool.css */

.number-pool {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px 0;
  }
  
  th, td {
    border: 1px solid #164a86;
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #164a86;
    color: white;
  }  
 
  .frequency9 {
    background-color: #00ff00;
  }
  
  .frequency8 {
    background-color: #24be24;
  }
  
  .frequency7 {
    background-color: #90e26f;
  }
  
  .frequency6 {
    background-color: #c0e657;
  }
  
  .frequency5 {
    background-color: #e2d16f;
  }
  
  .frequency4 {
    background-color: #e7a516;
  }
  
  .frequency3 {
    background-color: #d47f1e;
  }
  
  .frequency2 {
    background-color: #db7704;
  }
  
  .frequency1 {
    background-color: #e77528;
  }
  
  .frequency0 {
    background-color: #f74904;
  }
  
  .unrated {
    background-color: #9b9b9b;
  }
  
  @media (max-width: 600px) {
    table {
        width: 100%;
    }
    th, td {
        padding: 8px;
    }
}
  