.winning-numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .draw {
    margin-bottom: 20px;
    border: 2px solid #164a86;
    padding: 15px;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .numbers {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .number {
    padding: 2px;
    border: 10px solid #164a86;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
  }
  
  .repeated {
    border: 10px solid #a256ce;
  }
  
  .consecutive {
    background-color: #acb20c;
  }
  
  @media (max-width: 600px) {
    .number {
      width: 30px;
      height: 30px;
      font-size: 1em;
    }
  }